/* seccion HABILIDADES */
.habilidades{
    background:linear-gradient(to right, #7702c6, #0357a0);
    color: #fff;
    padding: 60px ;
    position: relative;
    top: -100px;
    
}
.habilidades h2{
    text-align: center;
}

.habilidades .container{
    width: 100%;
    background-color: #ddd;
    border-radius: 20px;
}

@media (min-width: 700px) {
    .container, .container-md, .container-sm {
        max-width: 700px;
        
    }
}

.skills{
    text-align: right;
    padding: 15px;
    color: white;
    font-weight: bold;
}
.html{
    
    background-color: #269a06;
    animation:fillhtml 2s forwards;
}

.MySQL{
    
     background-color: #2196F3;
    animation: fillMySQL 2s forwards;
}
.Javascript{
    
    background-color: #f32121;
   animation: fillJavascript forwards;
}

@keyframes fillhtml{
    0%{width: 0;}
    100%{width: 60%}

}
@keyframes fillMySQL{
    0%{width: 0;}
    100%{width: 70%}
    

}

@keyframes fillJavascript{
    0%{width: 0;}
    100%{width: 50%}
    

}


