
/* SECCION I N I C I O */
.mb-4{
    font-family: cursive;

}


.navbar{
background:linear-gradient(to right, #550278, #e58600);
font-family: cursive;
font-size: 1.2rem;
}
.navbar-nav .nav-link {
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 0; /* inicial sin redondear */
}

.navbar-nav .nav-link.active-link {
  background-color: #f7a13f; 
  border-radius: 50px;       
  color: white !important;    
  transform: scale(1.1);      /* pequeño efecto de zoom */
}


.servicios{
    
    background-image: url("../image/flores1.jpg");
    background-size:cover;
}

/*lista*/
h5 {
    color: #ff5b00;
    margin-bottom: 2rem;
    font-size: 1.25rem;    
}


/* SECCION RESPONSIVE */
@media screen and (max-width:1180px){
    .inicio{
        clip-path: none;
    }
}
@media screen and (max-width:800px){
    .redes{
        display: none;
    }
    #nav{
        display: none;
    }
    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 30px;
    }
    #icono-nav{
        display: block;
    }

    .inicio{
        height: auto;
    }
    .inicio .fila{
        display: block;
    }
    .inicio .fila .col{
        width: 100%;
        text-align: center;
    }
    .inicio .fila .col h2{
        margin-top: 20px;
    }
    .inicio .fila .col .contenedor-img{
        width: 50%;
        margin-top: 30px;
    }

    .servicios{
        position: static;
        padding: 20px;
    }
    .servicios .fila{
        display: block;
        margin-bottom: 0;
    }
    .servicios .fila .col{
        width: 70%;
        margin: auto;
    }
    .servicios .fila .col .card{
        margin-bottom: 20px;
    }
    .habilidades{
        position: static;
    }

    .trabajos nav a{
        margin: 0 5px;
    }

    .contacto .fila{
        display:  block !important;
    }
    .contacto .fila .col{
        text-align: center;
        width: 100% !important;
    }
    .contacto .fila .col .info{
        float: left;
        font-size: 12px;
        width: 25%;
    }
}