/* SECCION T R A B A J O S */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    
}
.trabajos h2{
    text-align: center;
   font-family: cursive;
}

.trabajos{
  background-image: url("../image/flores1.jpg");
  background-size:cover;
    
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
