
/* Contenedor principal */
.owasp-container {
  margin-left: 260px; 
  padding-top: 70px;  
}

.bg-light{
  background-image: url("./top10.webp");
    background-size:cover;
}


@media (max-width: 768px) {
  
  .nav-left {
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
  }
}

/* Contenedor general */
.owasp-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

/* Encabezado principal */
.owasp-container h1.owasp {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #0d6efd;
  margin-bottom: 2rem;
  text-transform: uppercase;
}



/* Subtítulos */
.owasp-container h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #212529;
  margin-bottom: 1rem;
  border-left: 5px solid #0d6efd;
  padding-left: 10px;
}

.owasp-container h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1rem;
  color: #495057;
}

/* Párrafos */
.owasp-container p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
}

/* Listas */
.owasp-container ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.owasp-container ul li {
  margin-bottom: 0.7rem;
  position: relative;
  padding-left: 10px;
}

.owasp-container ul li::before {
  content: "✔";
  position: absolute;
  left: -20px;
  color: #198754;
  font-weight: bold;
}

/* Glosario */
#Glosario ul li {
  margin-bottom: 0.8rem;
}

#Glosario strong {
  color: #0d6efd;
}

