/* Contenedor del enlace de retroceso */
.back-link {
  margin-left: 10px; /* espacio con el borde izquierdo */
}

/* Estilo del enlace */
.back-link a {
  color: #f0f0f0;
  font-size: 1.6rem;
  padding: 4px 6px; /* espacio interno */
  border-radius: 8px;
  transition: all 0.2s ease;
}

/* Hover bonito */
.back-link a:hover {
  color: #00d8ff;
  background-color: rgba(90, 108, 225, 0.93);
  transform: scale(1.15);
}

/* Navbar */
.navbar-no {
  color: white;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, #022778, #008de5);
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 0 20px;
}

/* Marca o logo */
.navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Contenedor principal */
.owasp-container {
  margin-left: 260px; /* espacio para sidebar */
  padding-top: 70px;  /* espacio para navbar fijo */
}

.bg-light{
  background-image: url("./top10.webp");
    background-size:cover;
}
/* Ajuste de secciones */
.container {
  padding: 20px; 
   font-family: cursive;
   
}

.owasp{
  color: #fff;
}

/* Responsive: sidebar colapsa debajo del navbar en pantallas pequeñas */
@media (max-width: 768px) {
  
  .nav-left {
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
  }
}
